[2017-06-07 17:13] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-10-23 14:41] #1 closed

[2018-01-14 06:27] Ethan-Arrowood opened #8 "Does not handle dynamic secrets"
As far as I can tell, `fastify-jwt` does not support callback functions as the `secret`. This behavior is supported by `express-jwt` so I think it should be supported here too.

I'm going to attempt to add this functionality!

[2018-01-14 10:07] mcollina commented on #8
Go ahead, it’s a useful feature!

[2018-01-16 03:35] Ethan-Arrowood commented on #8
Okay I've spent a great deal of time researching this and understanding the pieces.

The current `fastify-jwt` purpose is to decorate the instance with JWT functions like sign, verify, and decode. Sign and verify rely on a secret. Sometimes this secret is static (no big deal). *But* in some cases the secret is dynamic, as such with the RS256 algorithm and a JSON Web Key Set (learn more [here](http

[2018-01-16 03:37] Ethan-Arrowood commented on #8
But now that I've typed all this out it seems as though we could just process the request header token in the beforeHandler array and pass that along to the verify function. hmmm maybe there is a slightly better way to work the dynamic use case. . . . .

[2018-01-16 03:38] Ethan-Arrowood commented on #8
[code]

[2018-01-16 03:41] Ethan-Arrowood commented on #8
Now I don't have a good enough understanding of every JWT possibility so I think the above method is the best way. Because now the user can define the secret function however they need to in order to process the request header or body or whatever they need access too. So it looks like the verify method needs to be overloaded. Definitely will need some tight type checking in the parameters (or mayb

[2018-01-16 04:44] Ethan-Arrowood commented on #8
**Better solution** (maybe)

First: `fastify-jwt` api is **changing**
1. removing `decode` and `secret` from decorate
2. modifying `sign` and `verify` to have the parameters: `(request, reply, done)`
3. when registering `fastify-jwt` you must pass an `options` object with a defined `secret` property
4. The `secret` property can be either a primitive `string` or a `function`.
5. If `secret` is a fu

[2018-01-16 05:39] Ethan-Arrowood commented on #8
OMG I DID IT! 🎉
<img width="1440" alt="screen shot 2018-01-16 at 12 38 33 am" src="https://user-images.githubusercontent.com/16144158/34973457-9e68bc9e-fa55-11e7-90c7-017ae23791dc.png">

Works exactly like it did with all the express stuff. Now its time to clean up and commit

[2018-01-24 05:27] #8 closed

[2018-03-02 21:24] greenkeeper[bot] opened #15 "An in-range update of jsonwebtoken is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **8.2.0** of [jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-jwt/compare/greenkeeper%2Fjsonwebtoken-8.2

[2018-04-14 21:03] sensorario opened #16 "cant decode token and retrieve username"
As reported here:

https://stackoverflow.com/questions/49831398/retrieve-username-from-jwt-token-using-fastify

I am able to create a jwt token:

    fastify.post('/signup', (req, reply) => {
      const token = fastify.jwt.sign({
        payload,
      })
      reply.send({ token })
    })

that can return something like:

but if I try to decode the username frmo token

    fastify.get('/decode',

[2018-04-15 08:10] delvedor commented on #16
Can you upload a full example that reproduces the issue?

[2018-04-16 11:37] sensorario commented on #16
No sorry. But I'd found the solution (or the problem) ^_^. In `/signup` endpoint I've sent `{payload:{username:"foo"}}`.

In the wrong code `fastify.log.info('username : ' + decoded.username)` I've fixed with `fastify.log.info('username : ' + decoded.payload.username)`

[2018-04-16 11:37] #16 closed

[2018-06-25 18:59] dbauszus-glx opened #18 "JWT in reply header or cookie?"
Fastify being an opinionated web framework may I ask for your opinion on how to use JWT?

I just switched from sessions to JWT. This was easily done by storing the JWT as a cookie which I sent with the reply from the authorization middleware.

I set cookie with a reply.redirect('/') from the login route.

The fastify-jwt documentation shows how to put the token as bearer in the Authentication head

[2018-08-10 13:51] dbauszus-glx commented on #18
I have this working with cookies but don't think that is the best approach. Some libraries in my project use the fetch API and I cannot control whether a cookie is send.

I am also concerned that the cookie is send both way while I really need the token only on the request and not on the server response.

Then there is the issue with securing a cookie, I need to make sure that the cookie expires a

[2018-09-15 13:33] davidmarkclements opened #22 "Http error codes"
* if the authorisation header is missing this will result in a 500 - it should be a 401 not authhorized
* if the token is invalid this also results in a 500 - this should be a 400 bad request

[2018-09-17 11:47] #22 closed

[2018-10-16 15:34] darkgl0w opened #25 "Problems with RSA support"
---
name: 🐛 Bug report
about: Problems with RSA support
---

## 🐛 Bug Report

RSA support does not work as intended, and there are errors in the test file that lead to a bias in validating tests that shouldn't pass in the actual state of the code (Currently that's a supposition, i must dig further in the code to see if my assumptions are right concerning the tests).

## To Reproduce

Steps to repr

[2018-10-16 16:17] mcollina commented on #25
Would you like to send a PR to fix this issue?

[2018-10-17 12:41] darkgl0w commented on #25
Hi,
In the PR I submitted there is only the fix for this issue, but I would like to make some other changes in order to somehow mirror jsonwebtoken package methods (especially with how fastify-jwt manages the options) are you ok if I go further in the code refactoring in order to achieve this ?

There shouldn't be breaking changes I think, but depending on how I manage the options there can be som

[2018-10-19 18:36] #25 closed

[2018-10-23 08:42] bneigher commented on #8
@Ethan-Arrowood I tried to do this and it looks like the jwt headers are being stripped from the `fastifyJwtSecret` call in your branch of `node-jwks-rsa`.

Essentially the `header.alt` and `header.kid` never make it to the `secretProvider()` function call

Am I missing something?

[2018-10-23 14:38] Ethan-Arrowood commented on #8
@bneigher are you referring to this open PR branch? https://github.com/auth0/node-jwks-rsa/pull/31

The node-jwks-rsa repo has not been well maintained so I am not sure how to best help here.

[2018-10-23 15:25] darkgl0w opened #27 "Feature proposal: better options management"
## 🚀 Feature Proposal

A way to manage `fastify-jwt` "global" default options.
Since v0.5.0 an `options` key has been introduced, this `options` key allows users to define some global options to use with `fastify-jwt` and thus introduced some unwanted side effects due to the way it has been implemented.

With this proposal I would like to introduce an `options` key like this:
[code]
In the meantim

[2018-10-23 16:03] mcollina commented on #27
I'd recommend to follow https://www.fastify.io/docs/latest/TypeScript/#authoring-plugin-types for writing plugin types.

+1 on the proposal. I would actually drop the `options` prefix and do:

[code]

Anyway, go for it!

I would also like to recommend we document all options.

[2018-10-23 16:21] darkgl0w commented on #27
OK, that's great :)
I will go for it and drop the `options` prefix (I already have a working POC) as suggested. Depending on my free time I might be able to submit a PR soon (maybe tomorrow or after tomorrow).

Concerning the documentation I plan to do a little rework to make it more explicit about all the new stuff that has been added and the way to use it.

[2018-10-25 15:04] mcollina commented on #27
Implemented in #28.

[2018-10-25 15:04] #27 closed

[2018-10-28 11:37] filoozom opened #29 "Doesn't work when deconstructing or passing `jwtSign` to another function"
I'm getting the following error when I deconstruct `jwtSign` from `reply` or pass it to another function:

[code]

My service:

[code]

Same for:

[code]

It does work when I just use `reply.jwtSign()` directly though.

[2018-10-28 11:49] mcollina commented on #29
Destructuring is currently not supported, as the function is not bound to the reply. It's a proper method of `reply`, as it uses `reply.request` (https://github.com/fastify/fastify-jwt/blob/8e5fd44be9758078b145e1bd7f769debecc84379/jwt.js#L160) to access the request object.

[2018-10-28 11:49] #29 closed

[2018-10-28 11:53] filoozom commented on #29
I'm new to `fastify`, do you have suggestions for how to fix this in a PR?

[2018-10-28 11:59] mcollina commented on #29
There is really nothing to fix. The reason why it does not work is that `jwtSign`, like all the methods in `reply`  are proper object methods, and they need to have a proper `this`:

[code]

All of reply methods behave in the same way. This will work:

[code]

[2018-10-28 12:03] filoozom commented on #29
Got it, thanks!

[2018-11-23 22:12] vcanales commented on #8
It's a `fastify-jwt` config issue. You have to pass the `{decode: {complete: true}}` option for the header to be handed to the function along with the payload.

[2019-01-01 08:21] galuh1300d opened #32 "Please Provide simple tutorial in Youtube"

[2019-01-01 10:55] delvedor commented on #32
You can find multiple examples in the README :)

[2019-01-01 10:55] #32 closed

[2019-01-15 06:26] FishOrBear opened #37 "Type error in typescript"
![image](https://user-images.githubusercontent.com/19372111/51162540-86c80e00-18d1-11e9-9104-31d06043db8f.png)

[2019-01-15 09:28] #37 closed, assigned to nobody

[2019-01-15 12:59] kokujin opened #38 "Working example with protected routes"
Can someone point me to a complete working example showing protected routes? I couldn't get the example to work. Thanks

[2019-01-15 13:06] mcollina commented on #38
If you are using fastify v1, you should check out https://github.com/fastify/fastify-jwt/tree/v0.8.1#usage and use v0.8.1.

[2019-01-15 14:22] cemremengu commented on #38
@kokujin Here is an example using hooks. Let us know if that helps.

https://github.com/fastify/fastify-example-todo/blob/master/services/todo.js

[2019-03-10 12:13] berrg opened #45 "typescript and http2"
It seems that this plugin does not work with a server declared as http2secureserver:

fastify.FastifyInstance<
    Http2SecureServer,
    Http2ServerRequest,
    Http2ServerResponse

It it possible to change the typing so that jwt support both http and http2 server?

[2019-03-10 12:35] mcollina commented on #45
None, just that somebody should send a fix to the types. Would you like to send a PR?

[2019-03-10 13:15] berrg commented on #45
Ok, I will write a pull request tomorrow :-)

[2019-03-11 19:30] berrg commented on #45
It was difficult to make a typedef that was robust against all server types.  And it seems that almost every fastify plugin which has typescript only support http server.

So  I found a better solution, in my main script I could cast the plugin to a new server class.  Hence no tydedef rewrite is necessary.

E.g.
import * as fastifyjwt from 'fastify-jwt';
const jwthttp2 = (fastifyjwt as unknown) as

[2019-03-28 17:12] Ethan-Arrowood commented on #45
The new fastify types I am working on should support this use case.

[2019-03-28 17:24] Ethan-Arrowood opened #50 "Consumed fastify-jwt module is missing jsonwebtoken types"
In a basic typescript project:
server.ts:
[code]
tsconfig.json:
[code]
Running this basic build command results in the following error:
[code]

Not sure whats up -- going to work on it and figure it out though

[2019-03-28 23:54] #50 closed

[2019-03-29 16:04] mandaputtra commented on #18
@mcollina I stored JWT on cookies like this

[code]

I think the `request.verifyJwt()` itself are checking the header whether there is a `headersauthorization` or not will

[code]

is this look okay to you or need improvement? i would love to create an example.

[2019-03-29 16:13] mcollina commented on #18
It's ok, go for it!

[2019-03-29 16:37] gandra opened #54 "fastify.jwt undefined"
This code:

[code]

prints:

Any idea why?

[2019-03-29 17:25] mcollina commented on #54
You'll need to call .ready() or listen. It will be there when the server has booted. register is not blocking as it can be async.

[2019-03-29 17:25] #54 closed

[2019-03-30 11:59] gandra opened #56 "How to blacklist token?"
Hi,
when user `logout` I would like to `blacklist` a token. Is there a way to do it?

[2019-03-30 13:09] cemremengu commented on #56
I think that is an external concern/logic that should be implemented separately. You will basically check if it blacklisted before verifying the token.

[2019-04-14 13:45] daniandl commented on #18
[code]
This doesn't continue the request for me sadly, even if I use next(). My editor also tells me that `fastify.jwt.verify` isn't a Promise, so using await might be the wrong approach.

I also tried setting the Authorization header before calling `jwtVerify()` but I still get the no authorization in req.headers..
[code]

Any help? :)

[2019-04-21 12:26] zuohuadong commented on #56
https://github.com/auth0/express-jwt

### Revoked tokens
It is possible that some tokens will need to be revoked so they cannot be used any longer. You can provide a function as the `isRevoked` option. The signature of the function is `function(req, payload, done)`:
* `req` (`Object`) - The express `request` object.
* `payload` (`Object`) - An object with the JWT claims.
* `done` (`Function`) - A

[2019-04-21 12:50] jsumners commented on #56
@zuohuadong what is your point in providing the documentation for a completely different plugin?

[2019-04-21 13:04] zuohuadong commented on #56
It can be implemented and has a good reference.
Fastify should be more advanced than express, so it should have a similar implementation.

[2019-04-21 13:09] jsumners commented on #56
This plugin seems to provide everything necessary when I read the documentation. One simply has to add a `preValidation` method that checks if the decoded/verified token has data that is not allowed:

[code]

[2019-04-21 13:12] mcollina commented on #56
I think they are asking how to do the same thing with fastify-jwt. Would you like to senf a PR?

[2019-04-21 13:21] zuohuadong commented on #56
Yes, I hope that fastify-jwt can also have such an implementation.
I prefer fastify.

[2019-05-26 17:16] barbieri opened #60 "typescript secret with public/private keys"
At https://github.com/fastify/fastify-jwt#example we have:

[code]

However at https://github.com/fastify/fastify-jwt/blob/master/index.d.ts#L62 we have:
[code]

But the jwt.Secret is defined as https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jsonwebtoken/index.d.ts#L111
[code]

Please change your definition to something that allows your suggested structure:
[code]

[2019-05-26 17:26] mcollina commented on #60
Would you like to send a PR?

[2019-05-26 22:04] barbieri commented on #60
Yeah, will send it tomorrow, I was in the middle of development when I filled it. Will get back to it tomorrow

[2019-05-29 14:00] cabelitos commented on #60
@mcollina Hey, i'm sending the fix on behalf of @barbieri, since he is too busy right now.
Thank you very much.

[2019-05-29 14:07] barbieri commented on #60
thanks @cabelitos  :-)

[2019-06-10 18:39] kamikazechaser opened #62 "Allow custom unauthorized messages"
At the moment the library is using the following hard coded messages:

[code]

Allow users to over ride these with their custom messages, otherwise the library can fallback to the defaults above.

[2019-06-11 07:00] mcollina commented on #62
Would you like to send a PR? Those text should be fixed.

[2019-06-11 07:31] kamikazechaser commented on #62
Sure

[2019-06-14 16:26] #60 closed

[2019-06-21 05:29] naseemali925 opened #64 "Accessing jwt In request And reply Objects"
Hi,
 I am trying to access jwt in `request` and `reply` objects.
The decorators only provide the `jwtSign` on `reply` and `jwtVerify` on `request`

Any help would be appreciated.

[2019-06-21 06:27] naseemali925 commented on #64
It's Done. I Created A Decorator For Request And Response With JWT.

[2019-06-21 06:27] #64 closed

[2019-06-25 06:54] Eomm commented on #64
Great!
Would you like to share your solution so anybody else could get inspiration?

[2019-06-25 07:34] naseemali925 commented on #64
Hey @Eomm
I decorated jwt to `request` and `reply`
[code]
This way I have full control of the `jwt` instance.

[2019-06-25 08:51] Eomm commented on #64
what was the use case?

Maybe it is worth to think to add this feature to this plugin 😃

[2019-06-25 09:21] naseemali925 commented on #64
**Use case**
Needed to use JWT decode without a secret, inside `graphql` resolvers. With `fastify-gql` I can access the `request` object through `context` provided to the resolver. And the `request` object doesn't have a `decode` method.
So I decorated the `JWT` instance to request and used `jwt.decode`. 💥

[2019-07-05 14:52] greenpau opened #65 "reply.send is not a function"
After adding the hook:

[code]

Received:

[code]

[2019-07-05 15:06] mcollina commented on #65
You are using fastify v1. You'll need fastify v2 to use the `'onRequest'`  hook in that way

[2019-07-05 15:06] #65 closed

[2019-09-09 04:54] mcchrish commented on #62
I think this should be closed already.

[2019-09-10 13:12] #62 closed

[2019-10-06 20:25] francisbrito commented on #56
[code]

@zuohuadong do you think an example like this works for you?
@Eomm is it ok if I open a PR with an example on how to setup token black-listing? (maybe even using Redis as storage)

[2019-10-06 20:42] Eomm commented on #56
I was thinking this issue more like a feature:

[code]

And, when the user set an `untrusted` function it will be evaluated when `.jwtVerify()` is called.

But an example could work as well 👍
Consider to:
- create an `example/` folder
- wrap your code in a `onRequest` hook to improve reusability

[2019-10-06 21:26] francisbrito commented on #56
I think adding it as a feature makes sense. I'll proceed with the PR

[2019-10-21 00:20] mattduffield opened #72 "Using fastify-jwt along with Auth0"
Hello,

I have used fastify-jwt in the past where my servers were in charge of issuing JWT tokens, etc. However, I am now trying to use Auth0 as the authority. I want to use Fastify as my server and verify tokens sent from clients and devices that have previously authenticate using Auth0 directly.

My question/request is how is this achieved using `fastify-jwt`? I have seen several other node pack

[2019-10-21 09:08] mcollina commented on #72
Thanks for reaching out. Would you like to send a PR with that example? We are happy to review!

[2019-10-21 13:46] jsumners commented on #72
I could not figure out how to do it with `fastify-jwt` and ended up writing my own in-app plugin:

[code]

[2019-10-21 14:50] mattduffield commented on #72
Hi @jsumners, thanks for the plugin. Can you show how you are using it in an endpoint?

[2019-10-21 19:23] jsumners commented on #72
https://www.fastify.io/docs/latest/Hooks/#prevalidation

https://www.fastify.io/docs/latest/Getting-Started/

[2019-10-23 18:23] mattduffield commented on #72
Thanks @jsumners, I found a way to do it exactly like fastify-jwt with an extra package. I wanted the same signature so that it was consistent.

[2019-10-23 18:23] mcollina commented on #72
I’m reopening this, as it should be easy to setup.

[2019-10-23 18:24] mattduffield commented on #72
Thanks, I was going to ask about that. I think having it consolidated would be really awesome!

[2019-11-04 14:20] lludol commented on #56
Hey guys, what are the updates?
Do you need help for the PR?

I need this feature right now 😁

[2019-11-04 14:29] mcollina commented on #56
go ahead!

Il giorno lun 4 nov 2019 alle ore 15:20 Ludovic Lerus <
notifications@github.com> ha scritto:

[2019-11-04 14:32] Eomm commented on #56
There is this PR https://github.com/fastify/fastify-jwt/pull/71 that is quite finished, we need to wait @francisbrito 💪

[2019-11-05 01:45] francisbrito commented on #56
@lludol @Eomm sorry for the delay (had little time for OSS in the past weeks). I have updated the PR with the requested changes. Please let me know if you have any additional suggestion regarding it.

[2019-11-06 23:02] Eomm commented on #56
Released in v1.2.0

Thank you @francisbrito for your contribution! 💪

[2019-11-06 23:02] #56 closed

[2019-11-11 12:11] ShogunPanda commented on #72
I have a working example with validates Auth0 issued tokens, both HS256 and RS256 using fastify-jwt.

The dependencies are:

[code]

It uses environment variable for configuration, here's the required ones:

[code]
And here's the code:

[code]

[2019-11-19 22:01] Eomm commented on #72
Wow!
we should think about how to add some feature in this plugin to use it more flawlessly.

Some consideration on code:
- `require('auth0')` is unused
- could `${request.auth0Domain}.well-known/jwks.json` be cached?
- instead of (deprecated) boom you could use [fastify-sensible](https://github.com/fastify/fastify-sensible)

[2019-11-19 22:08] mcollina commented on #72
We are working on a new module at NearForm to automate some of this!
Il 19 nov 2019, 23:01 +0100, Manuel Spigolon <notifications@github.com>, ha scritto:

[2019-11-22 10:28] #72 closed

[2019-11-27 15:34] tuelsch opened #74 "User object not declared for typescript"
## 🐛 Bug Report

The user object (SignPayloadType) is not declared on the FastifyRequest object. I'm sending a PR to fix that.

[2019-12-06 10:24] #74 closed

[2019-12-11 14:49] fox1t commented on #74
Hi. This particular fix and PR just broke all of my microservices that relies on this fastify plugin. Usually I have a custom User object that I assign to request.user. I use typing augmentation to add User to FastifyRequest:

[code]
This worked with no problem since this PR landed. Now I am getting this error:
"Subsequent property declarations must have the same type.  Property 'user' must be of

[2019-12-11 14:57] mcollina commented on #74
Note that we set the user data in https://github.com/fastify/fastify-jwt/blob/f726c1f553fad4de52d75d5c6f51638301029b15/jwt.js#L253. So the typing is correct in that sense. What are you doing with your typing?

[2019-12-13 09:47] fox1t commented on #74
Actually I have a custom handler that overwrites that property on the request object. I need some more custom props on request.user. Is it out of the scope of this plugin to allow having custom object here?

[2019-12-13 15:00] mcollina commented on #74
I'm not sure how to do that with typescript, but I think you should be able to extend the type.

[2019-12-13 15:23] fox1t commented on #74
I am not aware of any possible way of overriding a type declaration written like this https://github.com/fastify/fastify-jwt/blob/f726c1f553fad4de52d75d5c6f51638301029b15/index.d.ts#L58
I think we have to change this type definition since it fix it to only 3 allowed types: `object | string | Buffer`. Maybe we could allow to pass an optional generic to override this default behavior.

[2019-12-13 15:38] fox1t commented on #74
I want to provide some context here. TypeScript allows module users to "extends" the typings shipped by the package itself or @types org. This is a very important feature and every TS advance user uses it extensively. For example, in Fastify is the main way of extending Fastify's internal objects. This one that we are talking about here, is a really good example. To augment the FastifyRequest type

[2019-12-13 16:40] mcollina commented on #74
cc @Ethan-Arrowood, this is way higher from my knowledge of typescript.

[2020-01-13 10:34] samevision opened #77 "Fastify instance is not decorated"
Hello guys,

I tried to implement JWT into my code but I can't access the methods, because fastify.jwt is undefined. If I try to user fastify.jwt.sign() I receive an error: Cannot read property 'sign' of undefined.

[code]

I appreciate your help.
Best

[2020-01-13 10:40] Eomm commented on #77
Could add a complete example to reproduce?

Moreover you should not use `next` with `async function`: you can remove it

[2020-01-13 10:54] samevision commented on #77
Thanks for the hint.

I believe the problem could be that I export this function.

**app.js**
[code]

**route.js**
[code]

**controller.js**
const fastify = require('fastify')()
exports.test = async (req, res, next) => {
    const token = fastify.jwt.sign({ user: 1 })
    res.send(token)
}

[2020-01-13 11:25] Eomm commented on #77
The decorated fastify instance has been created in `app.js` so, if you run `const fastify = require('fastify')()` in `controller.js` you are creating a brand new instance without the JWT.

You need to create only one fastify instace and use always that one.

So I would suggest changing the controller to:

[code]

Because if you use a simple `function` as a handler (not an arrow function), the `thi

[2020-01-13 11:31] samevision commented on #77
Really helpful. Got it!

I added `module.exports = fastify` to my app.js an was able to call it with `const fastify = require('../app')`. ☺️

[2020-01-25 04:12] guilhermemntt opened #78 "Consider improve trusted documentation"
Hello! I'm a bit confused about trusted tokens signature ```(request, decodedToken) => true|false|Promise<true|false>```. Trying to make it work, I realized that the return of this function is setted as ```request.user``` if it isn't an falseable value. Otherwise, if falseable, the token is blacklisted. So, wouldn't it be better if it was more documented expliciting that the returned value is assi

[2020-01-25 07:25] mcollina commented on #78
Thanks for the issue! Would you like to send a PR to improve the docs?

[2020-01-25 13:22] guilhermemntt commented on #78
Of course! It'd be a pleasure!

[2020-02-03 10:32] kamikazechaser opened #80 "Potential misinformation on cookies"
From the documentation:

Cookies with the httpOnly cannot be susceptible to XSS on popular browsers. You can prevent CSRF with the sameSite flag which is now [supported on popular browsers](https://caniuse.com/#feat=same-site-cookie-attribute). So a combination of properly configured httpOnly, sameSite and secure cookies make them almost bullet proof.

This explicitly assumes the use of sessions w

[2020-02-03 10:47] mcollina commented on #80
Would you like to send a PR to improve the docs, possibly with an example?

[2020-02-03 11:10] kamikazechaser commented on #80
Sure, ill add some references from OWASP.

[2020-02-03 13:23] kamikazechaser commented on #80
This may be a bit opinionated, but I added cookie support to the `req.jwtVerify` decorator since its presently only checking for the token in the authorization header. Let me know if its a fit for this plugin. Commit reference above.

Usage would be:

[code]

[code]

[2020-02-03 20:50] mcollina commented on #80
This might be a useful addition to the library.

[2020-02-05 12:13] fox1t commented on #74
Any news about this?

[2020-02-05 13:20] mcollina commented on #74
I would recommend to open a new issue to give visibility.

[2020-02-11 14:00] henriqueyang opened #82 "Module augmentation in TypeScript"
Hi guys! How can i properly use module augmentation to add authenticate decorate?

![2020-02-11_10-50](https://user-images.githubusercontent.com/38864739/74242903-7ee9c180-4cbd-11ea-83d6-68e1e7523d1c.png)

![2020-02-11_10-51](https://user-images.githubusercontent.com/38864739/74242964-9a54cc80-4cbd-11ea-9e4e-190250713070.png)

Thanks!

[2020-02-11 16:00] mcollina commented on #82
@Ethan-Arrowood would you mind to chime in?

[2020-02-11 17:41] Lotryas opened #83 "I'm not sure where the problem is"
Hello!
I need help with the implementation of the plugin. It doesn't work as intended. Probably because I didn't understand something. I'm a novice.
I did read the Docs and about encapsulation and it seems good to me. But it doesn't. So, it's sure i misunderstood something.

I have this code:

_server.js_
`fastify.register(require('./routes/users'))`

_routes/users.js_
[code]

_decors/users_
[code

[2020-02-11 17:54] mcollina commented on #83
You’ll need to register your route in an after block or move the register of the decorators plugin to the top level

[2020-02-11 20:41] #83 closed

[2020-02-12 15:54] Ethan-Arrowood commented on #82
@henriqueyang is `augmentation.ts` being read by your type interpreter?

The declaration seems valid. I'd try pasting it directly in your plugin file. This will ensure it is being included by the type interpreter

[2020-02-12 19:38] henriqueyang commented on #82
@Ethan-Arrowood I think so, vscode's intellisense was recognizing. The augmentation code was in 'src/@types' directory, but pasting it in my plugin file, like u suggested, works. Thanks!

[2020-02-12 20:14] #82 closed

[2020-02-22 16:48] henriqueyang commented on #82
I properly fixed it by adding the module augmentation directory in `tsconfig.json`

![screenshot_4](https://user-images.githubusercontent.com/38864739/75095982-56917b00-5579-11ea-847d-0eed29493f8e.png)

My bad, i'm new in Typescript. Anyway, thanks guys!

[2020-03-03 21:07] bburke4 commented on #74
hi @fox1t, I'm also trying to augment the type of the User property on the FastifyRequest object so that I can add my own properties. Were you able to get that working? Any guidance you could offer would be great.

[2020-03-04 10:27] fox1t commented on #74
Actually not. Since I don't have time to fix this myself, I am sticking with the old version. Would you mind to open a new issue pointing this out? You can link my comment if you think that it could be helpful. I sill think this is a "bug" in this modules types definition.

[2020-03-08 19:29] Ethan-Arrowood commented on #74
@fox1t what do you believe is the solution here? Revert the change and instruct users to augment `request.user` themselves manually whenever they consume this plugin?

I'm going to dive deeper into the changes made now to get a better sense of whats happening.

[2020-03-08 19:34] Ethan-Arrowood commented on #74
After visiting the source code I believe this is the correct typing. Is there a way you could improve your code on your end to better support this?

I think a way around this is you could essentially dupe the override:
[code]
Then when you consume use a type guard to check for `WhateverOtherTypeYouWant`

Unfortunately types are always tricky with payload return types

[2020-03-24 07:34] Eomm commented on #80
Fixed by @kamikazechaser

Closing

[2020-03-24 07:34] #80 closed

[2020-03-24 07:35] Eomm commented on #77
Your welcome

[2020-03-24 07:35] #77 closed

[2020-03-24 07:36] Eomm commented on #18
Added this feature in #81

Closing

[2020-03-24 07:36] #18 closed

[2020-04-27 17:46] Ethan-Arrowood opened #87 "Update fastify-cookie dev dep when it is updated to Fastify v3"
The unit tests for this plugin use [fastify-cookie](https://github.com/fastify/fastify-cookie).

When that is released to support fastify v3 we need to update it here

Tracking pr: fastify/fastify-cookie#67

[2020-04-27 17:47] Ethan-Arrowood commented on #45
This can be closed with the new types from #86

[2020-04-27 17:47] #45 closed

[2020-05-15 14:14] simoneb opened #90 "Add ability to specify the token location in request headers"
## 🚀 Feature Proposal

Currently the default, non-configurable behavior for tokens sent with headers (meaning, not in cookies) is hardcoded to look for the token in the `Authorization` header with format `Bearer {token}`. It should be possible to specify a custom location and format for the token in the headers. For instance, a custom header, and a custom format not necessarily involving `Bearer`.

[2020-05-15 14:49] jsumners commented on #90
It's outlined in https://tools.ietf.org/html/rfc7523#section-2.1

Which specifically states that the bearer JWT is to be provided as `authorization: Bearer <token>`.

[2020-05-15 14:53] simoneb commented on #90
That is that OAuth RFC. JWTs are not necessarily used in that context. See [here](https://tools.ietf.org/html/rfc7519#section-1).

   intended for space constrained environments such as HTTP
   Authorization headers and URI query parameters.

So no, the spec doesn't prescribe where you should put it.

[2020-05-18 09:09] thomheymann commented on #90
@simoneb What's the use case for using a header other than `Authorization: Bearer`?

[2020-05-18 09:11] simoneb commented on #90
An existing application that's sending the token in a custom request header and sending it in this way to other existing microservices. We're creating a new microservice based on fastify and we can't change the way the token is sent to the services.

[2020-05-18 09:21] thomheymann commented on #90
Makes sense, I'll have a look at this today

[2020-05-19 08:14] #90 closed

[2020-06-10 21:59] macocha opened #94 "Typescript fails to compile the plugin"
## 🐛 Bug Report

Application that uses `fastify-jwt@2.1.0` fails to compile with typescript.

## To Reproduce

Steps to reproduce the behavior:

1. Install and import the module.
2. Try to compile:
[code]

## Your Environment

- *node version*: v14.2.0
- *typescript version*: 3.9.5
- *fastify version*: 3.0.0-rc.3
- *os*: Mac

[2020-06-10 23:10] mcollina commented on #94
Can you paste your `tsconfig.json`?

[2020-06-10 23:13] macocha commented on #94
Sure!
Nothing too exciting there. ;)

[code]

[2020-06-10 23:20] mcollina commented on #94
can you also include the ts you are trying to compile? The tests are passing here.

[2020-06-10 23:20] mcollina commented on #94
A PR to fix would also be ok.

[2020-06-10 23:23] mcollina opened #95 "Remove @types/jsonwebtoken from the dependencies"
`@types/jsonwebtoken` it is unnecessary. We should expose only the types we need from there and lift them in our definitions.

[2020-06-11 16:41] macocha commented on #94
Ok, I've tried to reproduce, with all the packages at their latest versions and have different issue now:

`Property 'jwtVerify' does not exist on type 'FastifyRequest<Server, IncomingMessage, RequestGenericInterface>'.`

With a simple ts file looking like:
[code]

fwiw I've also started to getting similar errors on my own modules that extend `FastifyRequestInterface` on latest rc of Fastify.

[2020-06-11 18:23] mcollina commented on #94
Those were renamed in rc.4 to FastifyReply and FastifyRequest

[2020-06-11 18:48] macocha commented on #94
I'll PR the rename here.

[2020-06-12 10:41] #94 closed

[2020-06-30 15:41] ekoeryanto opened #98 "Build with typescript compiler error"
## 🐛 Bug Report
Build error #96
Error: Namespace fastify/fastify has no exported member 'JWTTypes'.

## To Reproduce

Steps to reproduce the behavior:
clone https://github.com/ekoeryanto/TypeScript-Fastify-API/tree/repro
[code]

## Expected behavior
built

## Your Environment

- *node version*: 10, 12, 13
- *fastify version*: next
- *os*: Windows, Linux
- *any other relevant information*

[2020-06-30 15:52] ekoeryanto commented on #98
quick fix for me is moving `type SignPayloadType = object | string | Buffer;` to top and update the reference to it.

[code]

[2020-07-08 11:57] #98 closed

[2020-07-29 18:59] AleF83 opened #101 "Typescript: FastifyJWTOptions.secret function type missing"
## 🐛 Bug Report

In documentation said that secret `The secret can be a primitive type String, a function that returns a String or an object { private, public }`

But in type definition file the secret type is `jwt.Secret | { public: jwt.Secret; private: jwt.Secret }`

## To Reproduce

Steps to reproduce the behavior:
- build the following TS code

[code]

I got following error:

[code]

## Expect

[2020-07-29 22:31] mcollina commented on #101
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-30 06:23] AleF83 commented on #101
I'm using this module in project with fastify v2. (I'm using v1.4.0).
Can we somehow release this fix as v1.4.1 too?

[2020-07-30 09:48] mcollina commented on #101
Please send a PR to https://github.com/fastify/fastify-jwt/tree/1.x as well. The types are different enough to make backporting hard.

[2020-07-31 13:57] #101 closed

[2020-07-31 13:59] mcollina opened #104 "100% code coverage"
This should be straightforward to bring to 100% code coverage

[code]

[2020-08-07 03:55] ekoeryanto opened #106 "NPM latest tag is v1"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 10, 12, 13
- *fastify version*: >=2.0.0
- *os*: Mac, Windows, Linux
- *any other relevant information*

[2020-08-07 03:56] #106 closed

[2020-08-22 05:42] karianpour opened #108 "versions on npm"
The versions on npm is misleading on [here](https://www.npmjs.com/package/fastify-jwt)
Currently it says it has version `2.1.3` , and `1.5.0` and the current versions are `2.1.2` , and `1.5.0`.

Also `1.5.0` has issue with fastify v3 to build using TypeScript, but `2.1.3` works.

Beside on the master branch the `package.json` says `version: "2.1.3"`

When I run `npm outdated`, I get the warning `f

[2020-08-22 06:12] #108 closed, assigned to nobody

[2020-10-04 03:30] gtolarc opened #110 "an error occurs related to request's decoration"
Currently, an error occurs related to request's decoration. Perhaps it is related to the following content. Can you fix it?
https://github.com/fastify/fastify/pull/2558

[2020-10-04 19:56] Eomm commented on #110
Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2020-10-05 01:12] gtolarc commented on #110
Sorry to confuse you.
The problem was solved. https://github.com/fastify/fastify/pull/2597

[2020-10-05 01:12] #110 closed

[2020-10-16 13:39] gboston opened #111 "Can we namespace this to support multiple JWT verification providers?"
I would like to be able to verify the JWT token but these can come from multiple providers.
Is this something that is already possible?

[2020-10-17 15:23] #104 closed

[2020-11-12 11:03] ketchums opened #118 "fastify.jwt is undefined?"
I am trying to use the fastify-jwt package, although it is coming back undefined?

Dependency versions:
[code]

index.js:
[code]

server.js:
[code]

loginController.js:
[code]

I start my app using
```node server```

[2020-11-12 11:25] mcollina commented on #118
`jwt` is decorated on the app instance, not on the module.

[2020-11-12 11:26] #118 closed

[2020-11-16 03:39] #38 closed

[2020-11-16 03:39] #78 closed

[2020-11-16 03:39] #95 closed

[2020-11-25 13:16] uinz commented on #74
I try to resolve it

https://github.com/fastify/fastify-jwt/pull/120

[2020-11-30 20:32] Eomm commented on #111
Merging in #112

[2020-12-01 06:46] donghc opened #121 "Authorization token is invalid: invalid signature"
## 🐛 Bug Report

when I use java client create jwt，request the node server，throw a exception:Authorization token is invalid: invalid signature

## To Reproduce

java client example token:
[code]
node server code

[code]

## Expected behavior

I want to know how to use success ， thanks

## Your Environment

- *node version*: v14.4.0
- *fastify version*: >=2.0.0
- *os*: Mac, Windows, Linux
- *any ot

[2020-12-01 08:56] mcollina commented on #121
I'm not sure what's the problem with your JWT token, but it's invalid. Use https://jwt.io/ to debug it.

[2020-12-01 08:56] #121 closed

[2020-12-04 13:55] delvedor opened #123 "Missing request decorator"
This plugin is adding a `.user` property to the request object without using a request decorator. As result, the overall performance of the application will suffer.
Luckily the fix is simple: add a [request decorator](https://www.fastify.io/docs/latest/Decorators/#decoraterequestname-value-dependencies).

[code]

[2020-12-17 08:01] climba03003 opened #127 "Add pre-commit as devDependencies"
## 🚀 Feature Proposal

add ```pre-commit``` as devDependencies

## Motivation

It can ensure code is well tested before committing and pushing to git.

## Example

Please provide an example for how this feature would be used.

[2020-12-17 08:22] #127 closed

[2020-12-18 15:40] #123 closed

[2021-01-05 02:46] radiorz opened #129 "I use expiredIn to set a time to expire ,but when i use 14d ,it change the month but not change the days."
## 🐛 Bug Report
please tell me how to use the expiredIn.
when i set 14d it return a wrong exp which month has been changed.

## To Reproduce

[code]

## Wrong exp Result
result
  "iat": 1609811045,
  "nbf": 1609811045,
  "exp": 1611020645,

i use dayjs to change them ：

[code]

## Your Environment

- *node version*: latest
- *fastify version*: >=3.7.0
- *os*: Windows
- *any other relevant informat

[2021-01-05 02:56] #129 closed

[2021-01-06 07:59] wtgtybhertgeghgtwtg opened #130 "Consider allowing claims object to be formatted."
## 🚀 Feature Proposal

Currently, the claims object obtained by decoding the token is added as `request.user` directly.  An option to format the claims object before could be useful.

## Motivation

The most useful representation of the data in the token is not necessarily the way it was encoded.  Claims may be given names that are abbreviated ("dept_name"), misspelled ("depatment_name"), or confu

[2021-01-06 10:14] mcollina commented on #130
I'm not necessarily sure that the added complexity is worth the trouble, but feel free to send a PR if you'd like to add this.

[2021-01-11 23:11] #130 closed

[2021-02-15 22:25] simoneb opened #132 "Document how to support JWKS"
## 🚀 Feature Proposal

Support for JWKS

## Motivation

Many services (e.g. AWS Cognito, Auth0) support JWKS and this plugin should be able to verify/decode tokens generated by those services.

We are introducing support for JWKS in [fast-jwt](https://github.com/nearform/fast-jwt/issues/63) via https://github.com/nearform/jwks-fetch, which has been extracted from https://github.com/nearform/fastif

[2021-02-17 17:26] mcollina commented on #132
The best approach would be for fastify-jwt to provide a hook/function that is called to retrieve the jwks.

[2021-02-27 11:02] simoneb commented on #132
Support for jwks will not be build into this library but it can be added by integrating with https://github.com/nearform/get-jwks/. It would be worth updating the docs in this repo to show how to do it.

[2021-03-11 16:23] mcollina opened #139 "alllow secret to return a Promise"
## 🚀 Feature Proposal

Here is an example:

[code]

[2021-03-11 17:11] #132 closed

[2021-03-12 15:24] simoneb commented on #139
When this is done we should remember to:

- update the docs to show a more correct async pattern https://github.com/fastify/fastify-jwt#verifying-with-jwks
- update get-jwks docs and integration tests for the same reason

[2021-03-19 15:03] #139 closed

[2021-04-12 08:45] climba03003 opened #145 "test: auto generate test certificate"
## 🚀 Feature Proposal

Move the current static test certification to auto generate before the test start.
https://github.com/fastify/fastify-jwt/tree/master/certs

## Motivation

It can reduce the `false-positive` warning from security scanner.

[2021-04-12 11:55] jsumners commented on #145
This code generates a compatible certificate, jwt, and jwks:

[code]

[2021-04-12 13:49] simone-sanfratello commented on #145
working on that

[2021-04-13 13:49] climba03003 commented on #145
Resolved #146

[2021-04-13 13:49] #145 closed

[2021-05-12 12:42] kibertoad opened #150 "Named imports do not work with TypeScript"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x

### Node.js version

14.x

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Despite TS types claiming that this import is fine:

[code]

, it actually isn't and throws an

[2021-05-12 12:45] mcollina commented on #150
would you send a fix?

[2021-05-20 23:19] drewrawitz opened #151 "Verifying a JWT from a signed cookie"
I'm currently using both `fastify-jwt` and `fastify-cookie` to store my access token.

[code]

The one caveat is that the cookie that I'm storing is **signed**.  The main issue with that is that I can't use the following snippet to verify the JWT token:

[code]

because it will always be a malformed JWT token. I need to verify the unsigned version. So I had to imeplement my own verification functi

[2021-05-21 11:11] #151 closed

[2021-05-26 20:50] danthegoodman1 opened #153 "Customize how JWT is received from headers"
## 🚀 Feature Proposal

Right now we are forced to use the header format `Authorization: Bearer [token]`. It would be nice if we could customize the function used to fetch the `[token]` so we could remove the `Bearer` part, or use a different header

## Motivation

Flexibility in usage

## Example

[code]

[2021-05-26 21:10] mcollina commented on #153
I would prefer this to be in the options of the plugin. Anyway,
would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-26 22:12] simoneb commented on #153
@danthegoodman1 check out https://github.com/fastify/fastify-jwt#verify-options, the `extractToken` option.

[2021-05-27 00:44] danthegoodman1 commented on #153
Looks like I can't read! I'll test right now

[2021-05-27 00:52] danthegoodman1 commented on #153
@simoneb Was right, here is what I used
[code]

[2021-05-27 00:53] #153 closed

[2021-06-26 06:27] kibertoad commented on #150
Will do. Infamous triplet should suffice, I think.

[2021-07-15 10:37] laozhu opened #161 "Can I use an aync version `formatUser` method?"
When I use formatUser, I want to get cached user object from redis or db, but the process is async.
With the types-hint, maybe I can't do this with formatUser.

[2021-07-15 12:23] mcollina commented on #161
I would recommend doing that in a separate Fastify hook. The typing hooks are correct, that method must be sychronous.

[2021-07-15 17:40] laozhu commented on #161
Thank you, Can I get user object from cache or db in prehandler hook? I don't want to put the logic in route handler, because many routes have the same needs. Or maybe I can decorateRequest with a async utility to get current user, is this better practice?

[2021-07-16 06:57] mcollina commented on #161
That's my recommendation.

[2021-07-16 09:33] #161 closed

[2021-07-31 14:09] damiantoczek opened #165 "Signing returns Expected "options" to be a plain object."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

3.0.0

### Node.js version

16.5.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

ArchLinux

### Description

When trying to sign the token the same way it would be do

[2021-07-31 14:21] damiantoczek commented on #165
Solved, Issue is the misleading documentation on fastify-jwt.
https://github.com/fastify/help/issues/506#issuecomment-890355237

[2021-07-31 14:21] #165 closed

[2021-08-18 14:28] NoelSMartin opened #172 "Multiple tokens"
## 🚀 Feature Proposal

The ability to generate multiple tokens.

## Motivation

To be able to implement the Access and Refresh token concepts

## Example

[2021-08-18 14:55] climba03003 commented on #172
I don't really know what do you means. `jwt` can be generated for multiple token. If you need different key / secret. It should be duplicate of #111 .

[2021-08-20 16:37] turbobuilt commented on #151
Hey everybody, I'm not an expert on this, what is the point of a signed cookie?  Isn't the JWT signed already somehow?  I want to make sure I don't screw up my security model by not signing my cookie.  I created my jwt like this: `(reply as any).jwtSign({guid: user.guid}, { expiresIn: "3 days"});`.  Then I set it like this:
[code]

If I do signed: true, it complains that it doesn't work.  I think

[2021-08-21 10:57] simoneb commented on #151
The cookie is just a transport mechanism for the token. The token is signed, the cookie can be signed too. This library supports getting the token from a cookie. If you sign the cookie, then you need to inform this library that the cookie is signed, so it will try to unsign the cookie before processing the token. Makes sense?

[2021-08-21 14:58] turbobuilt commented on #151
@simoneb Thank you so much for the help!  I guess I need to brush up on my coding skills!  Maybe we should put this in the documentation somewhere to help n00bs like me :)

[2021-08-21 15:06] simoneb commented on #151
@turbobuilt there's an [example using cookies in the readme](https://github.com/fastify/fastify-jwt#example-using-cookie), the changes required to use a signed cookie are minimal. If you can't get it to work please post a repro and somebody will help out.

[2021-08-22 18:18] Lilja opened #173 "Property 'user' does not exist on type 'FastifyRequest<OAuthInput, Server, IncomingMessage>'."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.14.1

### Plugin version

3.0.8

### Node.js version

v14.15.5

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

N/A

### Description

I'm getting a typescript error, it's surely due to that I'v

[2021-08-22 19:26] Lilja commented on #173
I solved this by having a second look into other people's github repos.

Basically, I removed everything that was a plugin that didn't do any `.decorate` functions.
[code]

to

[code]

Using `.decorate` and expect other parts to use it? wrap with `fastify-plugin`.

[2021-08-22 19:26] #173 closed

[2021-08-23 07:20] simoneb commented on #173
You may want to check out this section of the docs: https://www.fastify.io/docs/master/Plugins/#handle-the-scope

[2021-09-07 18:11] jkirkpatrick24 opened #174 "Should this plugin use fast-jwt?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hello there! I was wondering if this plugin would benefit from replacing the [jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) package with fast-jwt.

Based this article: https://www.nearform.com/blog/improve-json-web-tokens-pe

[2021-09-07 18:40] mcollina commented on #174
I think we should change it. We didn't at the beginning because we wanted to validate fast-jwt in the wild for a bit.

Would you like to send a PR?

[2021-09-07 19:43] jkirkpatrick24 commented on #174
Sure, I'd be happy to 👍

[2021-09-08 08:52] simoneb commented on #111
@Eomm @climba03003 @gboston is this addressed now, as mentioned earlier? #112 . Can we close this?

[2021-09-08 09:08] climba03003 commented on #111
@simoneb #112 is not merged. So, it is a out-standing issue.

[2021-09-08 09:26] simoneb commented on #111
Good point, I saw it closed and I assumed it was merged, but it wasn't. Okay then, let's keep this open.

[2021-09-13 11:57] climba03003 commented on #174
I have missed this issue.

I can see that in the last part of article, it stated that `fast-jwt` is an experimental library and the repository is not very active. I have check with the benchmark in [here](https://github.com/nearform/fast-jwt#benchmarks). `jose` is the second fastest compare between `fast-jwt`, `jsonwebtoken` and `jose`.

The community of `jose` is more active and it support more f

[2021-09-13 13:14] mcollina commented on #174
I would not call https://github.com/nearform/fast-jwt experimental anymore.

I kind of not see the point of moving to jose as things would already work well here.

[2021-09-13 13:54] climba03003 commented on #174
I am welcome on changing package that is better and stable for production use.
As you claim that it is not experimental anymore. I am totally fine with it.

[2021-09-13 15:18] mcollina commented on #174
FWIW we have used in a few sensitive projects and it all went fine, so I would use it from my point of view.

[2021-09-14 15:29] markrzen opened #176 "Expose logic to read and/or decode JWT token from the request"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Expose logic to read and/or decode JWT token from the request. I am looking for feedback if this would be acceptable, and if so, any preference between exposing the functionality via request decoration or through a req

[2021-09-15 10:30] #111 closed

[2021-09-15 11:07] Eomm commented on #176
Could you share a usage example?

[2021-09-15 13:47] markrzen commented on #176
@Eomm Here is the draft PR for the change, hopefully this makes more sense:
https://github.com/fastify/fastify-jwt/pull/178

[2021-09-23 12:12] markrzen commented on #176
@Eomm Checking in again, any thoughts on the idea?

[2021-09-30 12:44] markrzen commented on #176
🦗 🦗

[2021-09-30 13:25] Eomm commented on #176
Is this the echo? 😄

Checking your PR 👍🏽

[2021-09-30 15:14] markrzen commented on #176
@Eomm Haha, I was hoping that didn't come off poorly. It was an echo :) If the PR concept makes sense, I will happily switch over to making it more real (tests, etc).

[2021-09-30 15:19] Eomm commented on #176
Yes, it totally makes sense and your solution is fine!
I left some comments on the PR 👍🏽  I will be faster this time 😄

Thank you for the patience

[2021-09-30 15:20] markrzen commented on #176
Fantastic. I will finish up on the PR. Expect changes/responses in a few hours.

Thanks @Eomm !

[2021-10-01 21:16] markrzen commented on #176
Behind schedule. Fixed some of the PR comments, but need to grok the test organization a bit more to make sure I don't get off your patterns.

[2021-10-11 13:10] #176 closed

[2021-10-14 17:58] eziz-hudayberdiyev commented on #74
Hello guys, here is the solution:
In types declaration
`
declare module 'fastify-jwt' {
	interface FastifyJWT {
		payload: PayloadType
		user: UserType
	}
}
`

[2021-10-21 08:57] PeacefulCosmos commented on #74
it works for me!!!

[2021-10-25 15:14] piliugin-anton opened #185 "Global options are get ignored"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

3.2.1

### Node.js version

14.17.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

Global options are get ignored when signing a JWT, so

[2021-10-25 15:33] #185 closed, assigned to nobody

[2021-10-30 08:48] darkgl0w commented on #172
We can close this as it is a duplicate of https://github.com/fastify/fastify-jwt/issues/111

You can now register multiple namespaced instances of this plugin and implement this use case.

[2021-10-30 08:59] #172 closed

[2021-11-10 11:24] radomird opened #187 "Reorganise tests in the project"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

As proposed in PR #184 the tests should be moved to their own folder. Quoting the request:

The request was out of scope for the mentioned PR so I've moved it to a new issue.

[2021-11-10 15:15] mcollina commented on #187
Go for it once #184 lands

[2021-11-18 10:54] radomird opened #188 "Remove JwtHeader type definition after fast-jwt release"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Once `fast-jwt` lands a new version fixing this issue: https://github.com/nearform/fast-jwt/issues/147 remove the `JwtHeader` type definition from this library and use the one from `fast-jwt`.

[2021-11-25 08:52] #174 closed

[2021-11-25 12:30] ja-bravo commented on #187
I'll take this one, will send a PR in a bit

[2021-11-25 12:35] darkgl0w commented on #187
@ja-bravo done already.

[2021-11-25 16:53] #187 closed

[2021-11-29 15:45] ja-bravo commented on #188
Looks like fast-jwt just landed a new version with the changes, I'll take this one if no one is working on it.

[2021-11-29 15:45] Fdawgs commented on #188
Go for it, thanks!

[2021-11-29 15:48] radomird commented on #188
I think you might need to wait a bit with this, as the changes on `fast-jwt` didn't get released yet: https://github.com/nearform/fast-jwt/issues/155

[2021-11-29 15:50] simoneb commented on #188
we could open a PR which references the main branch of fast-jwt then once released we update it and merge it

[2021-12-03 14:03] #188 closed

[2021-12-09 17:03] onosendi opened #200 "`formatUser` with asynchronous function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

16.8.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

irrelevant

### Description

I'm not really sure if this is a fastify or

[2021-12-09 18:08] mcollina commented on #200
That's what I'd do!

[2021-12-09 18:08] #200 closed

[2021-12-17 00:27] onosendi commented on #56
@francisbrito in what situation would it be unsafe to decode a token before verifying?

[2021-12-21 16:22] Manubi commented on #150
In may case it complains about the difference in type Callback vs PluginAsync. Works if I type it any...

<img width="906" alt="CleanShot 2021-12-21 at 17 20 17@2x" src="https://user-images.githubusercontent.com/20935138/146963726-cf421714-c722-4118-9aa6-e752d3b82cdd.png">

[2021-12-23 09:07] maticjeras opened #207 "reply.jwtSign without callback and with expiresIn sets wrong exp in payload"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.1

### Plugin version

4.1.1

### Node.js version

16.13

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

Creating a token using reply.jwtSign when expires option i

[2021-12-23 10:00] #150 closed

[2021-12-23 17:28] mcollina commented on #207
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-24 07:17] maticjeras commented on #207
Thank you for the quick reply. I'll send a pull request.

[2021-12-25 08:41] #207 closed

[2022-02-07 17:25] rluvaton opened #211 "Be consistent about the hook to use for verifying the token in the examples"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

For verifying & accessing the decoded token inside all of the routes the example uses the `onRequest` hook:

https://github.com/fastify/fastify-jwt/blob/d5fdb26b000d283712922e60580d7ca88766b011/README.md#L41-L56

But if we want to do th

[2022-02-07 20:44] mcollina commented on #211
I would go with `onRequest`. Would you like to send a PR?

[2022-02-07 20:45] rluvaton commented on #211
Sure, is there a reason for that?

[2022-02-07 21:34] #211 closed

[2022-02-22 09:08] Unelith commented on #207
This is still occasionally problematic. For example, when using the following options in `fastify.register`:
[code]

Pulling those options out later through `fastify.jwt.options.sign` sees the time converted to milliseconds as a number:
[code]

So if I want to locally merge the global sign options with some extra ones on top of that, not unlike the example provided in the documentation, such as:
[

[2022-02-25 11:21] darkgl0w opened #213 "initial options mutation"
This is still occasionally problematic. For example, when using the following options in `fastify.register`:
[code]

Pulling those options out later through `fastify.jwt.options.sign` outputs the time as a number of milliseconds:
[code]

So if I want to locally merge the global sign options with some extra ones on top of that, not unlike the example provided in the documentation, such as:
[code]

[2022-04-18 07:40] #213 closed

[2022-04-27 15:20] chainalert-bot opened #221 "ChainAlert: npm package release (4.2.0) has no matching tag in this repo"
Dear [fastify-jwt](https://npmjs.com/package/fastify-jwt) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (4.2.0) of [fastify-jwt](https://npmjs.com/package/fastify-jwt) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would like to v

[2022-04-27 18:02] #221 closed

[2022-04-28 11:59] BharathSH opened #222 "unable to install "fastify\jwt@5.0.0""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

5.0.0

### Plugin version

_No response_

### Node.js version

15.6.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

facing below issue while installing fastify-jwt

"

[2022-04-28 12:12] Fdawgs commented on #222
try `npm i @fastify/jwt`

[2022-04-28 17:57] #222 closed

[2022-06-27 18:32] bigansh opened #236 "Refresh Token For JWT"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

We get an option to keep the token forever or expire the token after a set period. Is there an option to refresh the token like we get in OAuth2.0?

[2022-06-30 10:10] Bugs5382 opened #237 "Decoding only the Cookie if Cookie and Regular Headers Exist"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

- [x] Allow cookie to be parsed and verified independent of the regular access token
- [x] Unit test to ensure everything else still works and introduce this new functionally.

### Motivation

I been working on a frame

[2022-06-30 10:19] mcollina commented on #237
Thanks for reporting! I don't understand this issue, could you clarify exactly what's the ask?

[2022-06-30 10:31] Bugs5382 commented on #237
I already written he code. Trying to do the PR, however I made a mistake in the author field when uploaded. Let me employer information in the repo commit message.

In any case, I add the ```onlyCookie``` option being passed in jwtVerify so that I could decode and verify only the cookie if the cookie and the regular authentication header are sent together.  Let me do the PR and you can see it.

[2022-06-30 10:35] mcollina commented on #237
Perfect, thx!

[2022-06-30 10:42] Bugs5382 commented on #237
#238 PR has been created. :)

[2022-06-30 10:53] Bugs5382 commented on #237
Not so good for the README on the first pass but a second pass is here:

[2022-06-30 13:02] #237 closed

[2022-07-06 08:01] cberescu opened #240 "decoratorName not working properly"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

6.1.0

### Node.js version

16.15.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

It seems the decoratorName is not taken in consideration

[2022-07-07 08:30] Fdawgs commented on #240
Closed by #241

[2022-07-07 08:30] #240 closed

[2022-07-07 12:23] Manubi opened #242 "Typescript issue: No overload matches this call."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

6.2.1

### Node.js version

16.10.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

Hi,
I get the TS error
[code]

The code  is this:
<img wi

[2022-07-07 12:51] mcollina commented on #242
cc @Eomm

[2022-07-13 08:29] yaoandy107 opened #246 "Type `Secret` does not match the secret option of ES256 (with a passphrase)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

6.2.1

### Node.js version

18.3.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

When I tried to use **'ES256(with a passphrase)'** as my

[2022-07-13 08:35] mcollina commented on #246
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-13 08:38] yaoandy107 commented on #246
Ok, I will send a PR later today :)

[2022-07-13 10:25] #246 closed

[2022-07-28 11:38] tweenietomatoes opened #249 "Cannot read properties of undefined (reading 'bind')"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I want to use fastify-jwt for specific routes.

Here is my plugin:

[code]
**_I am registering plugin in server.js:_**

`fastify.register(fastifyJWT);`

**_Here is what i get when i npm start._**

`{"level":50,"time":1659008076964,"pid"

[2022-07-28 11:52] tweenietomatoes commented on #249
i changed
onRequest: [fastify.authenticate] to onRequest: fastify.authenticate
and it's solved.

[2022-07-28 22:54] clearshot-xs commented on #249
I just ran into this error as well using the example code in the readme, as @tweenietomatoes mentioned changing it from an array to a function fixes the error but the route option `onRequest` accepts a function or an array of functions.

`fastify.get(
  "/",
  {
    onRequest: fastify.authenticate
  },
  async function(request, reply) {
    return request.user
  }`

[2022-07-29 13:14] mcollina commented on #249
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-07-29 13:28] clearshot-xs commented on #249
Sure, I'm only about 10 minutes into a new project so it is only 2 small files. I just copied the examples from the readme and ran into this error.

app.js
[code]

/plugins/jwt.js
[code]

[2022-07-29 13:29] tweenietomatoes commented on #249
Changing from [] to fastify.authenticate didn't solve the problem actually.

I startted to use "jose" jwt manually instead of fastify-jwt right now.

[2022-07-29 13:34] #249 closed

[2022-07-29 13:42] clearshot-xs commented on #249
Why was this issue closed? The problem still exists... Not a very good first impression of fastify tbh.

[2022-07-29 14:05] mcollina commented on #249
It's closed because it's not a bug and OP has decided to use a different solution.

On your example:

[code]

will fix it.

[2022-07-29 16:25] clearshot-xs commented on #249
Thank you, it might be worth mentioning in the readme that the routes need to be registered to avoid future issues about this. I'm going to assume that OP ran into this error due to their routes not being setup correctly as well.

This might be trivial for devs familiar with fastify, but as a newcomer this was an odd error to run into.

[2022-07-29 16:50] mcollina commented on #249
I'm aware. We can provide a better DX for this too.

[2022-08-02 14:26] Uzlopak commented on #242
I could not reproduce this. I actually got a implementation error

[code]

This transpiles well

[2022-09-02 15:15] silane opened #258 "Add documentation about errors thrown"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Add documentation about errors thrown in each functions in API Spec, especially the `fastify.jwt.verify` and `request.jwtVerify` functions. Without error document, we cannot tell what caused the verification fail (token missing? signatu

[2022-09-04 09:42] Eomm commented on #258
Thanks for reporting!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-22 00:46] wbrown766 opened #264 "Fast JWT errors thrown"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

6.3.2

### Node.js version

16.18.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Mint 20.03 Kernel verion 5.4.0-131-generic x86_64 bits

### Description

I guess

[2022-10-22 08:28] mcollina commented on #264
thanks for reporting! We should indeed catch those and throw the appropriate errors.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-23 00:18] wbrown766 commented on #264
I think I have doen it right.
VERY new to "online" git (my first ever PR)
...well and git in general
...and well programing any and all advice, tips and or criticisms/critiques most definitley welcome.

[2022-10-23 09:10] mcollina commented on #264
you should open the actual PR now, you only pushed a commit

[2022-11-22 13:30] HassanBahati commented on #264
@wbrown766 @mcollina was this resolved?

[2022-11-25 11:12] mcollina commented on #264
I don't think we'd do this after all.

[2022-11-25 11:12] #264 closed

[2022-11-25 11:19] HassanBahati commented on #264
alright then